.pages {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50px;
  animation-name: pagesFadeIn;
  animation-delay: .5s;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes pagesFadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .pages.pagesFadeOut {
    opacity: 0;
    animation-name: pagesFadeOut;
    animation-delay: 0s;
    animation-duration: .75s;
    animation-fill-mode: both; }
@keyframes pagesFadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
  .pages .page {
    position: absolute;
    box-sizing: border-box;
    opacity: 0;
    width: 100%;
    animation-name: fadeOut;
    animation-duration: .25s;
    animation-fill-mode: both;
    z-index: 0; }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
    .pages .page .container {
      user-select: text;
      margin: auto;
      text-align: center;
      max-width: 1000px; }
      .pages .page .container p {
        box-sizing: border-box;
        text-shadow: 0 0 2px white;
        width: 100%;
        padding: 10px;
        top: 20px;
        margin: 20px 0 0 0;
        color: black;
        font-size: 20px; }
    .pages .page.selected {
      opacity: 1;
      animation-name: fadeIn;
      animation-duration: .25s;
      animation-delay: .25s;
      animation-fill-mode: both;
      z-index: 1; }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
