
.nav {
  user-select: none;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #444;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid rgba(#444, .5);
  z-index: 10;

  &.pageFadeInDown {
    animation-name: pageFadeInDown;
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  &.pageFadeOutUp {
    animation-name: pageFadeOutUp;
    animation-delay: .5s;
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  .container {
    margin: auto;
    max-width: 1000px;
    height: 100%;

    .tabs {
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        cursor: pointer;
        float: left;
        text-align: center;
        margin: 0 10px;
        padding: 0 10px;
        color: white;
        font-size: 18px;
        line-height: 50px;
        letter-spacing: 1px;
        text-shadow: 2px 1px 4px rgba(0,0,0,.5),
                     -1px -1px 4px rgba(0,0,0,.5),
                     1px -1px 4px rgba(0,0,0,.5),
                     -1px 1px 4px rgba(0,0,0,.5);
        transition: .1s ease-in-out;

        &:hover {
         transform: scale(1.03);
         text-shadow: 2px 2px 5px rgba(0,0,0,1),
                      -2px -2px 5px white,
                      2px -2px 5px white,
                      -2px 2px 5px rgba(0,0,0,1);
         transition: .1s ease-in-out;
        }

        &:active {
          transform: scale(1);
          text-shadow: 2px 1px 4px rgba(0,0,0,.5),
                       -1px -1px 4px rgba(0,0,0,.5),
                        1px -1px 4px rgba(0,0,0,.5),
                        -1px 1px 4px rgba(0,0,0,.5);
          transition: .1s ease-in-out;
        }

        &.selected {
          transform: scale(1.03);
          text-shadow: 2px 2px 5px rgba(0,0,0,1),
                       -2px -2px 5px white,
                       2px -2px 5px white,
                       -2px 2px 5px rgba(0,0,0,1);
          transition: .1s ease-in-out;

          &:after {
            content: "";
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            border-bottom: 2px solid white;
          }
        }

        &.logout {
          float: right;
        }

      }
    }

    .user {
      position: absolute;
      width: 100%;
      height: 50px;
      top: 0;
      left: 0;
      z-index: -1;

      .container {
        margin: auto;
        max-width: 1000px;
        height: 100%;

        p {
          float: right;
          margin: 0 90px 0 0;
        }

        p.line {
          color: white;
          line-height: 50px;
          font-size: 20px;
        }

        p.username {
          margin: 0 5px 0 0;
          line-height: 50px;
          color: deepskyblue;
        }

        .userIcon {
          float: right;
          height: 100%;

          .helper {
            display: inline-block;
            vertical-align: middle;
            height: 100%;
          }

          img {
            vertical-align: middle;
            width: auto;
            margin-top: -22px;
            margin-right: -7px;
            height: 28px;
            transform: rotate(-45deg);
          }
        }

      }
    }
  }
}

@keyframes pageFadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes pageFadeOutUp {
  0% {
    opacity: 1;
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}
